# Dependencies
node_modules/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Build outputs
android/app/build/
android/.gradle/
ios/build/

# Environment variables
.env*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# ✅ السماح برفع ملفات أندرويد الأساسية للبناء في CI
!android/build.gradle
!android/settings.gradle
!android/gradle/
!android/gradlew
!android/gradlew.bat
!android/app/build.gradle
!android/app/src/main/AndroidManifest.xml
!android/app/src/main/java/
!android/app/src/main/res/
